<div class="secondary-navigation d-print-none">
    <nav class="moremenu navigation observed">
        <ul id="moremenu-643fd15bea2a0-nav-tabs" role="menubar" class="nav more-nav nav-tabs">
                        <li data-key="siteadminnode" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link active" href='{{annee}}' tabindex="0" aria-current="true">
                                        Annee Scolaire
                                    </a>
                        </li>
                        <li data-key="users" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{campus}}' tabindex="-1">
                                        Campus
                                    </a>
                        </li>
                        <li data-key="courses" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{salle}}' tabindex="-1">
                                        Salles
                                    </a>
                        </li>
                        <li data-key="grades" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{filiere}}' tabindex="-1">
                                        Filieres
                                    </a>
                        </li>
                        <li data-key="modules" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{cycle}}' tabindex="-1">
                                        Cycles
                                    </a>
                        </li>
                        <li data-key="appearance" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{seance}}' tabindex="-1">
                                        Seance
                                    </a>
                        </li>
                        <li data-key="server" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{matiere}}' tabindex="-1">
                                        Cours
                                    </a>
                        </li>
                        <li data-key="reports" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{enseigner}}' tabindex="-1">
                                        Enseignant
                                    </a>
                        </li>
                        <li data-key="development" class="nav-item" role="none" data-forceintomoremenu="false">
                                    <a role="menuitem" class="nav-link  " href='{{inscription}}' tabindex="-1">
                                        Inscriptions
                                    </a>
                        </li>
            <li role="none" class="nav-item dropdown dropdownmoremenu d-none" data-region="morebutton">
                <a class="dropdown-toggle nav-link " href="#" id="moremenu-dropdown-643fd15bea2a0" role="menuitem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                    Plus
                </a>
                <ul class="dropdown-menu dropdown-menu-left" data-region="moredropdown" aria-labelledby="moremenu-dropdown-643fd15bea2a0" role="menu">
                </ul>
            </li>
        </ul>
    </nav>
</div>
